@import "variables";
@import "globals";

.Results h2 {
  font-size: 36px;
  font-weight: 700;
  color: $third-color;
  margin-top: 0;
}

@media (max-width: 375px) {
  .Results h2 {
    font-size: 24px;
  }
}
